{% extends 'layout.html' %}
{% block title %}欢迎回来{{user.nickname}}{% endblock %}
{% block header %}
<style>
	h2 {margin-bottom: 10px;}
	@media screen and (min-width:800px) {
		main {position: absolute;left: 35%;top: 0;bottom: 0;right: 0;padding: 50px 100px 0;overflow-y: auto;}
	}
	.pop a {display: inline-block;vertical-align: middle;margin: 0 5px;}
	.pop-c {padding: 20px;}
	.pop-ok {font-size: 20px;color: #FF1F26;}
	.pop-cancle {font-size: 12px;color: #999;}
</style>
{% endblock %}
{% block content %}
{% include 'block/user.html' %}
<main>
	{% include 'block/post.html' %}
	{% include 'block/arts.html' %}
	{% include 'block/footer.html' %}
</main>
{% endblock %}
{% block footer %}
<script>
	require(['userCard','postData','arts','mainPage'])
</script>
{% endblock %}