{% extends 'layout.html' %}
{% block title %}pyblog{% endblock %}
{% block header %}
<style>
	.art-banner {height: 250px;}
	.art p {color: #555;}
	.art-time,.art-artist {padding: 0 5px;}
	.art-artist {padding-left: 0;}
	.art-lock {
		background: url(/static/imgs/lock_black.svg) no-repeat 5px center;
		padding-left: 30px;
	}
	.art h2 a {
		display: flex;
		align-items: center;
	}
	.art-private h2 a {color: #A9A9A9;}
	.art-private h2 a::after {content: ''; width: 23px;height: 16px;background: url(/static/imgs/visibility.svg) no-repeat;display: inline-block;margin-left: 5px;}
	.art-public h2 a::after {content: ''; width: 23px;height: 20px;background: url(/static/imgs/public.svg) no-repeat;display: inline-block;margin-left: 5px;}
	.art-assign h2 a::after {content: ''; width: 23px;height: 14px;background: url(/static/imgs/group-add.svg) no-repeat;display: inline-block;margin-left: 5px;}
	@media screen and (min-width:800px) {
		.arts {min-height: 500px;}
		.art {margin-bottom: 20px;}
		.art::after {display: table;content: '';clear: both;}
		.art h2 {margin-bottom: 20px;font-size: .26rem;}
		.art-banner {float: left;width: 40%;margin-right: 20px;}
		.art-avatar {display: none;}
	}
	@media screen and (max-width: 800px) {
		.art {margin: 10px;box-shadow: 0 1px 16px rgba(0,0,0,.1);background: #fafafa;border: 1px solid silver;border-radius: 3px;}
		.art h2 {font-size: .24rem;padding: 0 10px;border-left: 5px solid #3F51B5;margin-top: 5px;font-weight: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
		.art div+h2 {margin-top: -42px;height: 42px;line-height: 42px;color: #fff;background: rgba(0,0,0,.7);padding: 0 10px;border-left: none;}
		.art div+h2 a {color: #fff;}
		.art div+h2 a:hover {text-decoration: none;}
		.art-public div+h2 a::after {background-image: url(/static/imgs/public-white.svg);} 
		.art-assign div+h2 a::after {background-image: url(/static/imgs/group-add-white.svg);} 
		.art p {padding: 5px 10px;font-size: 14px;}
		.art em {font-weight: normal;}
		.art-avatar {vertical-align: middle;margin-right: 5px;}
		.art-time {color: #999;font-size: 12px;}
		.art-lock a {padding-left: 15px;}
	}
	h1 span, h1 a {
		font-size: .35rem;
		color: #000;
	}
	h1 a:hover {
		text-decoration: none;
	}
	.act {font-size: .42rem;color: #3F51B5;}
	.pages {
			margin: 10px;
			display: flex;
			align-items: center;
	}
	.pages span {
		color: #999;
	}
	.pages span:first-child,.pages a:first-child {
		margin-right: 10px;
	}
	@media screen and (max-width:800px) {
		main h1 span,main h1 a,main h1 .act {height: 50px;line-height: 50px;font-size: .22rem;font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;background: #2E3D8E;text-align: center;color: #fff;}
		.act {font-weight: bold;}
		.pages {
			justify-content: space-between;
		}
	}

	
</style>
{% endblock %}
{% block content %}
<main>
	<h1>
		{% if Login %}
		{% if type == None %}
		<span class="act">最新创作</span>
		<span>/</span>
		<a href="/?type=fav">时间线</a>
		{% elif type == 'fav' %}
		<a href="/">最新创作</a>
		<span>/</span>
		<span class="act">时间线</span>
		{% endif %}
		{% else %}
		最新创作
		{% endif %}
	</h1>
	<div class="arts">
		{% for post in posts %}
		{% if post.showPost %}
		{% if post.private %}
		<section class="art art-private">
		{% elif post.public %}
		<section class="art art-public">
		{% elif post.assign %}
		<section class="art art-assign">
		{% else %}
		<section class="art">
		{% endif %}
			{% if post.captcha %}
			{% if post.media %}
			<div class="art-banner" style="background: #333 url(/static/imgs/lock.svg) no-repeat center center;"></div>
			{% endif %}
			<h2 class="art-lock"><a href="/postAccess?id={{post._id}}">{{post.title}}</a></h2>
			{% else %}
			{% if post.media %}
			<div class="art-banner" style="background: url('{{post.media}}') no-repeat center center;background-size: cover;"></div>
			{% endif %}
			<h2><a href="/posts/{{post._id}}">{{post.title}}</a></h2>
			{% endif%}
			<p>
				<img src="{{post.artist.avatar|avatarformat(60)}}" alt="" width="30" height="30" class="art-avatar">
				<em><a href="/users/{{post.artist._id}}" class="art-artist">{{post.artist.nickname}}</a></em>发表于<span class="art-time">{{post.postDate|datetimeformat()}}</span>
			</p>
		</section>
		{% endif %}
		{% endfor %}
	</div>
	{% if prevPage or nextPage%}
	<div class="pages">
		{% if prevPage %}
		<a href="{{prevPage}}">< 上一页</a>
		{% else %}
		<span>没有上一页了</span>
		{% endif %}
		{% if nextPage %}
		<a href="{{nextPage}}">下一页 ></a>
		{% else %}
		<span>没有下一页了</span>
		{% endif %}
	</div>
	{% endif %}
	{% include 'block/footer.html' %}
</main>
{% endblock %}

{% block footer %}
{% raw %}
<script id="template" type="x-tmpl-mustache">
	{{#post.assign}}
	<section class="art art-assign">
	{{/post.assign}}
	{{#post.private}}
	<section class="art art-private">
	{{/post.private}}
	{{#post.public}}
	<section class="art art-public">
	{{/post.public}}
	{{^post.assign}}
	<section class="art">
	{{/post.assign}}
		{{#post.hasCaptcha}}
		{{#post.media}}
		<div class="art-banner" style="background: #333 url(/static/imgs/lock.svg) no-repeat center center;"></div>
		{{/post.media}}
		<h2 class="art-lock"><a href="/posts/{{post._id}}">{{post.title}}</a></h2>
		{{/post.hasCaptcha}}
		{{^post.hasCaptcha}}
		{{#post.media}}
		<div class="art-banner" style="background: url('{{{post.media}}}') no-repeat center center;background-size: cover;"></div>
		{{/post.media}}
		<h2><a href="/posts/{{post._id}}">{{post.title}}</a></h2>
		{{/post.hasCaptcha}}
		<p>
			<img src="{{post.artist.avatar}}" alt="" width="30" height="30" class="art-avatar">
			<em><a href="/users/{{post.artist._id}}" class="art-artist">{{post.artist.nickname}}</a></em>发表于<span class="art-time">{{post.postDate}}</span>
		</p>
	</section>
</script>
{% endraw %}
{% endblock %}