{% extends 'layout.html' %}
{% block title %}pyblog{% endblock %}
{% block header %}
<style>
	.arts {min-height: 500px;}
	.art {margin-bottom: 20px;}
	.art::after {display: table;content: '';clear: both;}
	.art h2 {margin-bottom: 20px;font-size: .26rem;}
	.art-banner {float: left;width: 40%;height: 250px;margin-right: 20px;}
	.art p {color: #555;}
	.art-time,.art-artist {padding: 0 5px;}
	.art-artist {padding-left: 0;}
</style>
{% endblock%}
{% block content %}
<main>
	<h1>最新创作</h1>
	<div class="arts">
		{% for post in posts %}
		<section class="art">
			{% if post.media %}
			<div class="art-banner" style="background: url('{{post.media}}') no-repeat center center;background-size: cover;"></div>
			{% endif%}
			<h2><a href="/posts/{{post._id}}">{{post.title}}</a></h2>
			<p><em><a href="/users/{{post.artist._id}}" class="art-artist">{{post.artist.nickname}}</a></em>发表于<span class="art-time">{{post.postDate|datetimeformat()}}</span></p>
		</section>
		{% endfor %}
	</div>
	{% include 'block/footer.html' %}
</main>
{% endblock %}

{% block footer %}
{% raw %}
<script id="template" type="x-tmpl-mustache">
	<section class="art">
		{{#post.media}}
		<div class="art-banner" style="background: url('{{{post.media}}}') no-repeat center center;background-size: cover;"></div>
		{{/post.media}}
		<h2><a href="/posts/{{post._id}}">{{post.title}}</a></h2>
		<p><em><a href="/users/{{post.artist._id}}" class="art-artist">{{post.artist.nickname}}</a></em>发表于<span class="art-time">{{post.postDate}}</span></p>
	</section>
</script>
{% endraw %}
<script>
	require(['mainPage','core'],function(mainPage,ota){
		var $ = ota.get,scrollTimmer,
			ajax = ota.ajax,
			ajaxLock = false,
			page = 1,pageNum = 5,maxPage
		$('main').on('scroll',function(){
			var self = this
			clearTimeout(scrollTimmer)
			scrollTimmer = setTimeout(function(){
				if($(self).height() + self.scrollTop >= self.scrollHeight && !ajaxLock){
					ajaxLock = !ajaxLock
					;++page
					if(maxPage && page > maxPage){
						return --page
					}
					ajax({
						url: '/api/post',
						data: {
							'pageNum': pageNum,
							'page': page
						},
						dataType: 'json',
						success: function(data){
							ajaxLock = !ajaxLock
							maxPage = Math.ceil(data.total / data.pageNum)
							return handlerData(data)
						}
					})
				}
			},500)
		})
		var handlerData = (function(){
			var template = $('#template').html()
  			Mustache.parse(template)
			return function(data){
				data = data.result
				var ret = []
				data.forEach(function(d){
					d.postDate = new Date(d.postDate*1e3).toLocaleString().replace(/\//g,'-')
					ret.push(Mustache.render(template, {post: d}))
				})
				ret = ret.join('')
				$('.arts').append(ret)
			}
		})()
	})
</script>
{% endblock %}