{% extends 'layout.html' %}
{% block title %}pyblog{% endblock %}
{% block header %}
<style>
	.art-banner {height: 250px;}
	.art p {color: #555;}
	.art-time,.art-artist {padding: 0 5px;}
	.art-artist {padding-left: 0;}
	.art-lock {
		background: url(/static/imgs/lock_black.svg) no-repeat 5px center;
		padding-left: 30px;
	}
	@media screen and (min-width:800px) {
		.arts {min-height: 500px;}
		.art {margin-bottom: 20px;}
		.art::after {display: table;content: '';clear: both;}
		.art h2 {margin-bottom: 20px;font-size: .26rem;}
		.art-banner {float: left;width: 40%;margin-right: 20px;}
		.art-avatar {display: none;}
	}
	@media screen and (max-width: 800px) {
		.art {margin: 10px;box-shadow: 0 1px 16px rgba(0,0,0,.1);background: #fafafa;border: 1px solid silver;border-radius: 3px;}
		.art h2 {font-size: .24rem;padding: 0 10px;border-left: 5px solid #3F51B5;margin-top: 5px;font-weight: normal;}
		.art div+h2 {margin-top: -42px;height: 42px;line-height: 42px;color: #fff;background: rgba(0,0,0,.7);padding: 0 10px;border-left: none;}
		.art div+h2 a {color: #fff;}
		.art div+h2 a:hover {text-decoration: none;}
		.art p {padding: 5px 10px;font-size: 14px;}
		.art em {font-weight: normal;}
		.art-avatar {vertical-align: middle;margin-right: 5px;}
		.art-time {color: #999;font-size: 12px;}
		.art-lock a {padding-left: 15px;}
	}

	
</style>
{% endblock%}
{% block content %}
<main>
	<h1>最新创作</h1>
	<div class="arts">
		{% for post in posts %}
		<section class="art">
			{% if post.captcha %}
			{% if post.media %}
			<div class="art-banner" style="background: #333 url(/static/imgs/lock.svg) no-repeat center center;"></div>
			{% endif %}
			<h2 class="art-lock"><a href="/postAccess?id={{post._id}}">{{post.title}}</a></h2>
			{% else %}
			{% if post.media %}
			<div class="art-banner" style="background: url('{{post.media}}') no-repeat center center;background-size: cover;"></div>
			{% endif %}
			<h2><a href="/posts/{{post._id}}">{{post.title}}</a></h2>
			{% endif%}
			<p>
				<img src="{{post.artist.avatar}}" alt="" width="30" height="30" class="art-avatar">
				<em><a href="/users/{{post.artist._id}}" class="art-artist">{{post.artist.nickname}}</a></em>发表于<span class="art-time">{{post.postDate|datetimeformat()}}</span>
			</p>
		</section>
		{% endfor %}
	</div>
	{% include 'block/footer.html' %}
</main>
{% endblock %}

{% block footer %}
{% raw %}
<script id="template" type="x-tmpl-mustache">
	<section class="art">
		{{#post.hasCaptcha}}
		{{#post.media}}
		<div class="art-banner" style="background: #333 url(/static/imgs/lock.svg) no-repeat center center;"></div>
		{{/post.media}}
		<h2 class="art-lock"><a href="/posts/{{post._id}}">{{post.title}}</a></h2>
		{{/post.hasCaptcha}}
		{{^post.hasCaptcha}}
		{{#post.media}}
		<div class="art-banner" style="background: url('{{{post.media}}}') no-repeat center center;background-size: cover;"></div>
		{{/post.media}}
		<h2><a href="/posts/{{post._id}}">{{post.title}}</a></h2>
		{{/post.hasCaptcha}}
		<p>
			<img src="{{post.artist.avatar}}" alt="" width="30" height="30" class="art-avatar">
			<em><a href="/users/{{post.artist._id}}" class="art-artist">{{post.artist.nickname}}</a></em>发表于<span class="art-time">{{post.postDate}}</span>
		</p>
	</section>
</script>
{% endraw %}
{% if Login %}
<script>
	require(['core'],function(ota){
		var $ = ota.get,scrollTimmer,
			ajax = ota.ajax,
			ajaxLock = false,
			page = 1,pageNum = 5,maxPage
		handler = 'touchend' in document ? 'touchend' : 'scroll'
		$('main').on(handler,function(){
			var self = this
			clearTimeout(scrollTimmer)
			scrollTimmer = setTimeout(function(){
				if($(self).height() + self.scrollTop >= self.scrollHeight && !ajaxLock){
					ajaxLock = !ajaxLock
					;++page
					if(maxPage && page > maxPage){
						return --page
					}
					ajax({
						url: '/api/post',
						data: {
							'pageNum': pageNum,
							'page': page
						},
						dataType: 'json',
						success: function(data){
							ajaxLock = !ajaxLock
							maxPage = Math.ceil(data.total / data.pageNum)
							return handlerData(data)
						}
					})
				}
			},500)
		})
		var fillZero = function(i){
			if(i < 10){
				return '0' + i
			}
			return i
		}
		var formatDate = function(d){
			var t = new Date(d * 1e3)
			var date = t.getFullYear() + '-' + fillZero(t.getMonth() + 1) + '-' + fillZero(t.getDate())
			var time = ['getHours','getMinutes','getSeconds'].map(function(method){
				return fillZero(t[method]())
			}).join(':')
			return date + ' ' + time
		}
		var handlerData = (function(){
			var template = $('#template').html()
  			Mustache.parse(template)
			return function(data){
				data = data.result
				var ret = []
				data.forEach(function(d){
					d.postDate = formatDate(d.postDate)
					ret.push(Mustache.render(template, {post: d}))
				})
				ret = ret.join('')
				$('.arts').append(ret)
			}
		})()
	})
</script>
{% endif %}
{% endblock %}