{% extends 'layout.html' %}
{% block title %}欢迎加入{% endblock %}
{% block header %}
<style>
	input.regBtn {background: #8BC34A;}
	input.regBtn:hover {background: #9AD952;}
	@media screen and (max-width: 800px) {
		h1 {background: #E91E63;}
		form {padding: 80px 10px 0;text-align: center;}
		form input ,.regBtn{width: 100%;}
		.regBtn {margin-top: 10px;}
	}
</style>
{% endblock %}
{% block content %}
<main>
	<h1>欢迎加入</h1>
	<form action="/u/reg" method="post">
		<p class="row"><input type="email" name="username" id="username" class="input-field" placeholder="邮箱"></p>
		<p class="row"><input type="text" name="nickname" id="nickname" class="input-field" placeholder="昵称"></p>
		<p class="row"><input type="password" name="password" id="password" class="input-field" placeholder="密码"></p>
		<p class="row">
			<input type="submit" value="注册" class="regBtn">
			<a href="/u/login" class="loginBtn">已有账号？</a>
		</p>
	</form>	
</main>
{% endblock %}
{% block footer %}
<script>
	require('core',function(ota){
		var data = (new Date).getHours()
	})
</script>
{% endblock %}