{% extends 'layout.html' %}
{% block title %}ª∂”≠ªÿ¿¥{{user.nickname}}{% endblock %}
{% block header %}
<style>
	h2 {margin-bottom: 10px;}
	@media screen and (min-width:800px) {
		main {position: absolute;left: 35%;top: 0;bottom: 0;right: 0;padding: 50px 100px 0;overflow-y: auto;}
	}
	@media screen and (max-width:800px) {
		.wrap {position: absolute;left: 0;top: 0;bottom: 40px;right: 0;overflow: hidden;overflow-y: auto;-webkit-overflow-scrolling:touch;}
		main {position: static;}
		main h2 {font-size: .24rem;padding: 0 10px;border-left: 5px solid #3F51B5;margin-top: 5px;font-weight: normal;margin-left: -10px;}
		.pop {text-align: center;}
	}
	.pop a {display: inline-block;vertical-align: middle;margin: 0 5px;}
	.pop-c {padding: 20px;}
	.pop-ok {font-size: 20px;color: #FF1F26;}
	.pop-cancle {font-size: 12px;color: #999;}
	.row {margin-bottom: 20px;}
</style>
{% endblock %}
	{% block content %}
<div class="wrap">
	{% include 'block/user.html' %}
	<main>
		{% include 'block/post.html' %}
		{% include 'block/follow.html' %}
		{% include 'block/arts.html' %}
		{% include 'block/footer.html' %}
	</main>
</div>
{% endblock %}
{% block footer %}
{% endblock %}