{% extends 'layout.html' %}
{% block title %}修改文章:{{post.title}}{% endblock %}
{% block content %}
<main>
<style>
	.write-post input[type=text] {width: 100%;padding: .5em 1em;box-sizing: border-box;}
	.write-content textarea {width: 100%;min-height: 250px;padding: 1em;box-sizing: border-box;}
	.write-postBtn {text-align: right;}
	.write-tool>div {position: relative;cursor: pointer;z-index: 10;width: 100px;height: 36px;line-height: 34px;text-align: center;display: inline-block;}
	.write-media {background: #8BC34A;color: #fff;border: 1px solid #60A113;}
	.write-music {background: #F8E71C;color: #333;border: 1px solid #D4C500;}
	/*http://stackoverflow.com/questions/7554845/the-cursorpointer-property-doesnt-apply-to-file-upload-buttons-in-webkit-brows*/
	::-webkit-file-upload-button {cursor:pointer;}
	.media-file {position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: 0;cursor: pointer;}
	.media-wrap {position: relative;display: inline-block;}
	.media-wrap i {position: absolute;top: 10px;right: 10px;z-index: 5;background: #E51C23;width: 30px;height: 30px;line-height: 30px;text-align: center;color: #fff;font-style: normal;cursor: pointer;font-family: arial;}
	.write-tags-inserted,.write-assigns-inserted {font-size: 0;}
	.write-tags-inserted em,.write-assigns-inserted em {padding: 5px 10px;display: inline-block;font-weight: normal;color: #fff;cursor: not-allowed;font-size: 14px;}
	.followList {display: none;}
	.followList-show {display: block;}
	.followList {margin: 0;list-style: none;}
	.followList li {padding: 0 10px;border: 1px solid silver;margin-bottom: -1px;}
	.write-assigns-inserted {margin-top: 20px;}
	.write-private input[type=checkbox],.write-public input[type=checkbox] {margin-right: 10px;}
	input[type=text][disabled] {cursor: not-allowed;}
	.music-del {font-family: arial;font-style: normal;cursor: pointer;font-size: 12px;width: 22px;height: 22px;display: inline-block;text-align: center;line-height: 22px;background: rgb(229, 28, 35);vertical-align: top;margin-right: 5px;color: #fff;}
	.insertMusic-value {margin-right: 5px;}
	.insertMusic h5 {margin-bottom: 10px;}
	@media screen and (min-width:800px) {
		.row {margin-bottom: 20px;}
		.write-media {width: 100px;}
		.write-media:hover {background: #60A113;}
		.write-music:hover {background: #DBCD13;}
		.media-wrap i {display: none;}
		.media-wrap::after {content: '';position: absolute;width: 100%;height: 100%;top: 0;left: 0;;background: rgba(0,0,0,.7);transition: opacity linear .3s;}
		.media-wrap::after {opacity: 0}
		.media-wrap:hover i {display: block;}
		.media-wrap:hover::after {opacity: 1;}
		.postBtn {width: 120px;letter-spacing: .5em;}
		.write-open {font-size: .22rem;}
	}
	.pop a {display: inline-block;vertical-align: middle;margin: 0 5px;}
	.pop-c {padding: 20px;text-align: center;}
	.pop-ok {font-size: 20px;color: #FF1F26;}
	.pop-cancle {font-size: 12px;color: #999;}
	@media screen and (max-width: 800px) {
		h1 {background: #673AB7;}
		.row {margin-bottom: 10px;}
		.write-post {margin: 10px;}
		.write-media {width: 100%;}
		.postBtn {width: 100%;}
		.insertMusic-value {display: block;}
		.write-open {font-size: 12px;padding: 0 5px;background: #E91E63;color: #fff;margin-left: 10px;display: inline-block;vertical-align: middle;line-height: 20px;text-decoration: none;}
	}
	
</style>
	<div class="write">
		<h1>修改文章<a href="/posts/{{post._id}}" class="write-open">查看原文</a></h1>
		<div class="write-post">
			<p class="row"><input type="text" name="title" id="title" placeholder="标题" value="{{post.title}}"></p>
			<div class="write-tags row">
				<p class="row"><input type="text" class="write-tag" placeholder="文章标签,tab结束"></p>
				<p id="tags" class="write-tags-inserted">
					{% if hasTag %}
					{% for i in post.tags %}
					<em>{{i}}</em>
					{% endfor %}
					{% endif %}
				</p>
			</div>
			<div class="write-tool row">
				<div class="write-media"> + 插入头图<input type="file" id="file" class="media-file"></div>
				<!-- <div class="write-emoji"> + 插入表情</div> -->
				<div class="write-music"> + 插入音乐</div>
			</div>
			<div class="write-media-inserted row">
				{% if post.media %}
				<span class="media-wrap">
					<img src="{{post.media}}" alt=""><i>X</i>
				</span>
				{% endif %}
			</div>
			{% if post.music %}
			<div class="write-music-inserted row" data-value="http://music.163.com/#/{{post.music.type}}?id={{post.music.id}}&autoplay={{post.music.autoplay}}">
				<i class="music-del">X</i><span class="write-music-info">音乐路径：http://music.163.com/#/{{post.music.type}}?id={{post.music.id}} 自动播放：{% if post.music.autoplay %}是{% else %}否{%endif%}</span>
			</div>
			{% else %}
			<div class="write-music-inserted row">
				<i class="music-del">X</i><span class="write-music-info"></span>
			</div>
			{% endif %}
			<div class="write-content row">
				<textarea name="content" id="content" placeholder="从这里开始">{{post.content}}</textarea>
			</div>
			<div class="write-captcha row">
				{% if post.captcha %}
				<input type="text" name="captcha" id="captcha" value="{{post.captcha}}" placeholder="验证码">
				{% else %}
				<input type="text" name="captcha" id="captcha" placeholder="验证码">
				{% endif %}
			</div>
			{% if followers %}
			<div class="write-assigns row">
				<input type="text" name="assign" id="assign" placeholder="指定给 ta 看">
				<ul class="followList">
					{% for artist in followers %}
					<li>
						<a href="javascript:;" data-val="{{artist._id}}">
							{{artist.nickname}}
						</a>
					</li>
					{% endfor %}
				</ul>
				<p id="assigns" class="write-assigns-inserted">
					{% if post.assigns%}
					{% for assign in post.assigns -%}
					<em data-val="{{assign}}">{{assignMap[assign]}}</em>
					{%- endfor %}
					{% endif %}
				</p>
			</div>
			{% endif %}
			{% set checked = ' checked' if post.private %}
			<div class="write-private row">
				<input type="checkbox" name="private" id="private"{{checked}}>仅自己可见
			</div>
			{% set checked = ' checked' if post.public %}
			<div class="write-public row">
				<input type="checkbox" name="public" id="public"{{checked}}>所有人都可以见（包括未登录用户）
			</div>
			<p class="write-postBtn row"><button class="postBtn btn btn-primary">更新</button></p>
		</div>
	</div>
	{% include 'block/footer.html' %}
	</main>
	{% macro pop(id) -%}
	<template id="{{id}}">
		<div class="pop">
			<div class="pop-c">
				{{caller()}}
			</div>
		</div>
	</template>
	{%- endmacro %}
	{% call pop('popA') %}
	    修改成功
	{% endcall %}
	{% call pop('popB') %}
    	秋刀马爹，发布中...
	{% endcall %}
	{% call pop('popC') %}
    	标题或者内容不能为空
	{% endcall %}
	<template id="insertMusic">
		<div class="pop insertMusic">
			<h5>插入音乐...</h5>
			<p><input type="text" class="insertMusic-value" placeholder="音乐地址"><input type="checkbox" id="insertMusic-autoplay">自动播放</p>
			<p><a href="javascript:;" class="insertMusic-apply" data-event="setInsertMusic">插入</a></p>
		</div>
	</template>
	<input type="hidden" name="postId" value="{{post._id}}" id="postId">
	<input type="hidden" name="mediaChanged" value="false" id="mediaChanged">
{% endblock %}
{% block footer %}
<script>
	otaLoader({
		alias: {
			'Popbox': '/static/js/popbox.min.js'
		}
	})
	require(['core','Popbox'],function(ota,Popbox){
		var $ = ota.get,
			ajax = ota.ajax,
			Popbox = Popbox.Popbox
		$('#file').on('change',function(e){
			var file = this.files[0],self = this
			bannerValidate(file,function(err,ret){
				if(err){
					alert(err)
					self.value = ''
				}else{
					$('#mediaChanged').val(true)
					$('.write-media-inserted').html('<span class="media-wrap"><img src="'+ret+'"><i>X</i></span>')
				}
			})
		})
		$('.postBtn').on('click',function(){
			if($('#title').val() && $('#content').val()){
				var popA = new Popbox
				popA.reDraw(function(el){
					return $('#popB').html()
				}).show()
				ajax({
					url: '/api/post',
					type: 'put',
					dataType: 'json',
					data: {
						id: $('#postId').val(),
						title: $('#title').val(),
						tags: [].concat($('#tags em').html() || ''), // 多值处理
						content: $('#content').val(),
						file: $('#file')[0].files[0],
						mediaChanged: $('#mediaChanged').val(),
						captcha: $('#captcha').val(),
						assigns: getAssigns(),
						private: $('#private')[0].checked,
						public: $('#public')[0].checked,
						music: $('.write-music-inserted').data('value') || ''
					},
					traditional: true,
					success: function(data){
						setTimeout(function(){
							popA.reDraw(function(el){
								return $('#popA').html()
							}).show()
							setTimeout(function(){
								popA.remove()
							},1000)
						},200)
					}
				})
			}else{
				(new Popbox).reDraw(function(){
					return $('#popC').html()
				}).show()
			}
		})
		$('.write-media-inserted').on('click','.media-wrap i',function(e){
			$('#mediaChanged').val(true)
			$('#file').val('')
			$('.write-media-inserted').html('')
		})
		var getRandomColor = (function(){
			var colors = ['#E91E63','#5677FC','#8BC34A','#FFC107','#009688','#673AB7']
			return function(){
				var color = colors.shift()
				colors.push(color)
				return color
			}
		})()
		var tags = $('#tags')
		$('.write-tag').on('keypress',function(e){
			if(e.which === 13){
				e.preventDefault()
				if(this.value !== ''){
					var em = $('<em></em>')
					em.css({'background':getRandomColor()})
					em.text(this.value)
					tags.append(em)
					this.value = ''
				}
			}
		})
		$('.write-tags-inserted').on('click','em',function(e){
			$(this).remove()
			$('.write-tag')[0].focus()
		})
		$('#tags em').each(function(index){
			$(this).css({'background': getRandomColor()})
		})
		{% if followers %}
		var assigns = $('#assigns')
		$('#assign').on('focus',function(e){
			$('.followList').addClass('followList-show')
		})
		$('.followList').on('click','a',function(){
			var val = $('#assigns em').text() || []
				text = $(this).text().trim()
			if(val.indexOf(text) == -1){
				var em = $('<em></em>')
				em.css({'background':getRandomColor()})
				em.text(text)
				em.data('val',$(this).data('val'))
				assigns.append(em)
			}
		})
		assigns.on('click','em',function(e){
			$(this).remove()
			return false
		})
		$('#assigns em').each(function(index){
			$(this).css({'background': getRandomColor()})
		})
		{% endif %}
		$('#private').on('change',function(){
			if(this.checked){
				$('#assign').attr('disabled',true)
			}else{
				$('#assign').attr('disabled',null)
			}
			$('#public')[0].checked = false
		})
		$('#public').on('change',function(){
			if(this.checked){
				$('#assign').attr('disabled',true)
			}else{
				$('#assign').attr('disabled',null)
			}
			$('#private')[0].checked = false
		})
		$('.write-music').on('click',function(){
			var popA = new Popbox({
				el: function(){
					return $('#insertMusic').html()
				},
				events: {
					'click#setInsertMusic': function(){
						var autoplay = +$('#insertMusic-autoplay')[0].checked,
							val = $('.insertMusic-value').val() + '&autoplay=' + autoplay
						$('.write-music-inserted').css({'display': 'block'}).data('value',val)
						$('.write-music-info').text('音乐路径：' + $('.insertMusic-value').val() + ' 自动播放：' + ($('#insertMusic-autoplay')[0].checked ? '是' : '否'))
						this.remove()
					}
				}
			}).show()
		})
		$('.write-music-inserted').on('click','.music-del',function(){
			$('.write-music-inserted').data('value','').css({'display': 'none'})
			$('.write-music-info').text('')
		})
		function bannerValidate(file,callback){
			var reader = new FileReader,MAX_SIZE = 1024*3*1024
			if(file.type.match('image')){
				reader.onload = function(e){
					if(e.total > MAX_SIZE){
						return callback('图片尺寸太大',null)
					}
					return callback(null,this.result)
				}
				reader.readAsDataURL(file)
			}else{
				return callback('图片格式有误',null)
			}
		}
		function getAssigns(){
			var ret = []
			$('#assigns em').each(function(){
				ret.push($(this).data('val'))
			})
			return ret
		}
		$(document).on('click',function(e){
			if(!ota.contains($('.write-assigns')[0],e.target)){
				$('.followList').removeClass('followList-show')
			}
		})
	})
</script>
{% endblock %}