{% extends 'layout.html' %}
{% block title %}»¶Ó­»ØÀ´~{% endblock %}
{% block header %}
<style>
	.regBtn {background: #8BC34A;display: inline-block;border-bottom: .03rem solid #555;padding: .08rem .1rem;line-height: 1.2;text-align: center;color: #fff;vertical-align: top;}
	.regBtn:hover {background: #9AD952;}
	@media screen and (max-width: 800px) {
		h1 {background: #FF9800;}
		form {padding: 80px 10px 0;text-align: center;}
		form input ,.regBtn{width: 100%;}
		.regBtn {margin-top: 10px;}
		.loginBtn {-webkit-appearance: none;}
	}
</style>
{% endblock %}
{% block content %}
<main>
<h1><span id="hello"></span>»¶Ó­»ØÀ´~</h1>
<form action="/u/login" method="post">
	<p class="row">
		<input type="email" name="username" id="username" class="input-field" placeholder="ÓÊÏä">
	</p>
	<p class="row">
		<input type="password" name="password" id="password" class="input-field" placeholder="ÃÜÂë">
	</p>
	<p class="row">
		<input type="submit" value="µÇÂ¼" class="loginBtn">
		<a href="/u/regAccount" class="regBtn">×¢²á</a>
	</p>
</form>	
</main>
{% endblock %}
{% block footer %}
{% endblock %}
</html>