{% extends 'layout.html' %}
{% block title %}搜索{% endblock %}
{% block header %}
<style>
	@media screen and (max-width: 800px) {
		.search-control {padding: 10px;text-align: center;}
	}
</style>
{% endblock %}
{% block content %}
<main>
	<h1>搜搜更健康</h1>
	<div class="search">
		<div class="search-control">
			<p>
				<a href="" class="cur">标签</a><a href="">标题</a><a href="">内容</a><a href="">作者</a>
			</p>
			<p class="search-bar">
				<input type="text" name="" id=""><button class="btn">搜索</button>
			</p>
		</div>
		<div class="search-result">
			
		</div>
	</div>
</main>
{% endblock %}
{% block footer %}
{% endblock %}