<link rel="stylesheet" href="/static/css/ota.css">
<style>
	html,body {width: 100%;height: 100%;}
	main {position: absolute;top: 0;left: 50px;right: 0;bottom: 0;overflow-y: scroll;padding: 50px 100px 0;-webkit-overflow-scrolling:touch;}
	h1 {margin-bottom: 30px;}
	.row {margin-bottom: 20px;}
	.input-field {width: 250px;padding: .5em 1em;}
	.user-avatar {margin-bottom: .1rem;padding: 5px;background: #fff;box-shadow: 0 0 10px rgba(110,110,110,.2);}
	.user-name {color: #333;font-size: 18px;font-weight: 600;}
	.user-info {font-size: 12px;}
	.user-info em {color: #E91E63;padding: 0 .2em;}
	.pop {box-shadow: 0 0 30px rgba(50,50,50,.7);padding: 50px 80px;background: #fff;}
	.pop a {border-bottom: none; display: inline-block;vertical-align: middle;margin: 0 5px;}
	.pop-c {padding: 20px;}
	.pop-ok {font-size: 20px;color: #FF1F26;}
	.pop-cancle {font-size: 12px;color: #999;}
</style>
<script src="/static/bower_components/ota.js/src/loader.js"></script>
<script src="/static/bower_components/mustache.js/mustache.js"></script>
