<style>
		.notifys a {margin: 0;}
		.notifys h5 {margin-bottom: 10px;}
		.notifys h5 a {font-size: 12px;margin-left: 10px;}
		.notify {max-height: 360px;overflow: hidden;overflow-y: auto;}
		.notify-data {margin-bottom: 10px;}
		.notify-c {position: relative;padding-left: 15px;}
		.notify-c::before {content: '';display: block;width: 8px;height: 8px;border-radius: 4px;background: #E51C23;position: absolute;top: 50%;left: 0;margin-top: -4px;}
		.notify-c::after {display: table;content: '';clear: both;}
		.notify-c img {float: left;border-radius: 25px;margin-right: 10px;}
		.notify-c p {overflow: hidden;}
		.notify-detail {font-size: 12px;}
		.notify-rep,.notify-read {position: absolute;top: 50%;right: 0;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);font-size: 12px;}
		.notify-read {color: #fff;font-family: arial;background: #E51C23;width: 16px;height: 16px;border-radius: 8px;text-align: center;line-height: 16px;}
		.notify-rep {right: 20px;}
		.notify-repText {padding: 0 5px;}
		.notify-repText input {height: 28px;margin-right: 10px;vertical-align: top;font-size: 12px;}
		.notify-repText .send {height: 28px;font-size: 12px;line-height: 28px;padding: 0;vertical-align: top;}
		.notify-refs {margin: 0 50px;font-size: 12px;}
		.notify-refs img {border-radius: 20px;margin-right: 10px;vertical-align: middle;}
	@media screen and (min-width:800px){
		body {transition: transform linear .3s;}
		nav {position: fixed;left: 0;top: 0;width: 50px;bottom: 0;height: 100%;background: #333;z-index: 10;box-shadow: inset -2px 0 10px rgba(10,10,10,.5);}
		nav.show {left: 0;}
		nav .msg {position: relative;}
		nav .msg i {display: none;width: 16px;height: 16px;font-size: 12px;background: #E51C23;color: #fff;border-radius: 8px;text-align: center;line-height: 16px;top: 9px;right: 4px;position: absolute;font-style: normal;} 
		.bodyTransform {-webkit-transform: translate3d(200px,0,0);transform: translate3d(200px,0,0);}
		.mainNav a {display: block;width: 50px;height: 50px;text-align: center;}
		.mainNav a img {margin-top: 15px;opacity: .8;}
		.mainNav a:hover,.mainNav a.current {background: #111;}
		.mainNav a:hover img,.mainNav a.current img {opacity: 1;}
		.notifys {padding: 50px;width: 600px;}
		.notifys .notify-rep,.notifys .notify-read {display: none;}
		.notify-c:hover .notify-rep,.notify-c:hover .notify-read {display: block;}
		.notify-repText input {width: 430px;}
		.notify-repText .send {width: 50px;}
	}
	@media screen and (max-width:800px) {
		nav {position: absolute;left: 0;bottom: 0;height: 40px;right: 0;background: #333;z-index: 10;box-shadow: 0 2px 10px rgba(10,10,10,.5);font-size: 0;text-align: center;}
		nav.show {left: 0;}
		nav .msg {position: relative;}
		nav .msg i {display: none;width: 16px;height: 16px;font-size: 12px;background: #E51C23;color: #fff;border-radius: 8px;text-align: center;line-height: 16px;top: 9px;right: 4px;position: absolute;font-style: normal;} 
		.mainNav a {display: inline-block;width: 40px;height: 40px;text-align: center;margin: 0 5px;}
		.mainNav a img {margin-top: 10px;opacity: .8;}
		.mainNav a:hover,.mainNav a.current {background: #111;}
		.mainNav a:hover img,.mainNav a.current img {opacity: 1;}
		.notifys {padding: 20px;}
		.notifys h5 {font-size: .18rem;text-align: center;}
		.notify-repText input {margin-bottom: 5px;}
		.notify-repText input,.notify-repText .send {width: 100%;}
		.notify-c img {width: 36px;height: 36px;border-radius: 18px;}
		.notify-refs img {width: 30px;height: 30px;border-radius: 15px;}
		.notify-refs p {margin-bottom: 5px;}
	}
</style>
<nav class="mainNav">
	<a href="/" class="home current"><img src="/static/imgs/home.svg" alt="" width="20" height="20"></a>
	<a href="/u/0" class="admin"><img src="/static/imgs/account-circle.svg" alt="" width="20" height="20"></a>
	{% if Login %}
	<a href="javascript:;" class="msg"><img src="/static/imgs/msg.svg" alt="" width="20" height="20"><i></i></a>
	{% endif %}
	<a href="http://112.74.104.132:9527/#/"><img src="/static/imgs/speaker.svg" alt="" width="20" height="20"><i></i></a>
</nav>
{% raw %}
<template id="notifyTpl">
	<div class="pop notifys">
		{{#notify.count}}
		<h5>你收到{{notify.count}}个通知<!-- <a href="">全部标记为已读</a> --></h5>
		<div class="notify">
		{{#notify.result}}
			<div class="notify-data" data-id="{{_id}}">
				<div class="notify-c">
					<!-- <time>{{date}}</time> -->
					<img src="{{from.avatar}}" alt="" width="50" height="50">
					<div class="notify-detail">
						<a href="/users/{{from._id}}">{{from.nickname}}</a>
						<p>{{msg}}</p>
					</div>
					<a href="" class="notify-rep" data-event="reply" data-name="{{from.username}}" data-nick="{{from.nickname}}" data-id="{{_id}}">回复</a>
					<a href="" class="notify-read" data-id="{{_id}}" data-event="read">X</a>
				</div>
				<div class="notify-refs"></div>
			</div>
		{{/notify.result}}
		</div>
		{{/notify.count}}
		{{^notify.count}}
		<h5>暂无未读通知</h5>
		{{/notify.count}}
		<p class="notify-repText" style="display: none;"><input type="text"><button class="btn send" data-event="send">回复</button></p>
	</div>
</template>
{% endraw %}
{% if Login %}
<script>
	define('mainPage',['Popbox','core','socket'],function(Popbox,ota,socket,exports){
		var $ = ota.get,Popbox = Popbox.Popbox,ajax = ota.ajax,socket = socket.socket,
			msg = $('.msg'),
			notify = $('.msg i'),
			notifyData = {
				'code': 200,
				'count': 0,
				'result': [],
				'to': {}
			},
			refs = {}
		var template = $('#notifyTpl').html()
		Mustache.parse(template)
		var renderRefs = function(refs){
			ota.each(refs,function(ref,i){
				var el = $('div[data-id="'+i+'"]')
				var r = ref.map(function(_ref){
					return '<p><img src="'+notifyData.to.avatar+'" width="40" height="40"/>'+_ref.msg+'</p>'
				}).join('')
				el.children('.notify-refs').append($(r))
			})
		}
		var buildRef = function(cid,value){
			var r = '<p><img src="'+notifyData.to.avatar+'" width="40" height="40"/>'+value+'</p>'
			$('div[data-id="'+cid+'"]').children('.notify-refs').append($(r))
		}
		var notityReaded = function(index){
			var count 
			if(count = +notify.text()){
				count--
				notifyData.count--
				notifyData.result.splice(index,1)
				if(count){
					notify.text(count)
				}else{
					notify.text(0)
					notify.css({'display': 'none'})
				}
			}
		}
  		var renderNotify = function(){
			var pop = new Popbox({
				el: function(){
					return Mustache.render(template, {notify: notifyData})
				},
				events: {
					'click#reply': function(e){
						e.preventDefault()
						var p = $(e.target).parents('.notify-data'),
							rep = $('.notify-repText')
						p.after(rep)
						p[0].scrollIntoView()
						rep.show()
						$('.notify-repText input').attr('placeholder','@' + $(e.target).data('nick'))
						$('.notify-repText .send').data('name',$(e.target).data('name')).data('id',$(e.target).data('id'))
						$('.notify-repText input')[0].focus()
						this.layoutFix()
					},
					'click#send': function(e){
						var cid = $(e.target).data('id'),
							val = $('.notify-repText input').val()
						refs[cid] = refs[cid] || []
						refs[cid].push({
							to: $(e.target).data('name'),
							msg: val
						})
						buildRef(cid,val)
						socket.emit('msg',{
							to: $(e.target).data('name'),
							msg: $('.notify-repText input').val()
						})
						$('.notify-repText').hide()
						$('.notify-repText input').val('')
						this.layoutFix()

					},
					'click#read': function(e){
						e.preventDefault()
						var target = $(e.target),
							msg = target.parents('.notify-data')
						sendReadFeed($(e.target).data('id'))
						notityReaded(getIndex(msg[0],$('.notify .notify-data')))
						msg.remove()
						this.layoutFix()
					}
				}
			})
			renderRefs(refs)
			pop.show()
  		}
  		var sendReadFeed = function(id){
  			(new Image).src = '/api/msg/read?id=' + id
  		}
  		// fuck...
  		var getIndex = function(el,p){
  			for(var i = 0,l = p.length;i < l;i++){
  				if(p[i] === el){
  					return i
  				}
  			}
  			return -1
  		}
		exports.updateNotify = function(count){
			if(!(+notify.text() || 0)){
				notify.css({'display': 'block'})
			}
			notify.text((+notify.text() || 0) + count)
		}
		exports.updateNotifyData = function(data){
			notifyData.count++
			notifyData.result.unshift(data)
		}
		exports.storeNotify = function(data){
			notifyData = data
			console.log(notifyData)
		}
		msg.on('click',function(e){
			renderNotify()
		})
	})
</script>
{% endif %}